<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>卫视列表</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-header">
                        </div>
                        <div class="layui-card-body ">
                            <table id="StationInfo" lay-filter="test"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#StationInfo'
                ,height: 399
                ,url: '/StationController/selectAllStation' //数据接口
                ,cols: [
                    [ //表头
                    {field: 'sid', title: 'ID', width:80, sort: true}
                    ,{field: 'sname', title: '卫视名'}
                    ,{field: 'sprovince', title: '省份'}
                ]
                ]
            });

            /*//监听工具条
            table.on('tool(test)',function (obj) {
                var data = obj.data;
                if (obj.event === 'del'){
                    layer.confirm('确定删除吗？',function () {
                        $.ajax({
                            url:"/StationController/stationDelete?sId="+data.sid,
                            type:"POST",
                            data:data.field,
                            dataType:'json',
                            success:function () {
                                layer.alert('删除成功',{icon:1},function (index1) {
                                    layer.close(index1);
                                    xadmin.father_reload();
                                })
                            }
                        });
                    });
                }else if(obj.event === 'edit'){
                    xadmin.open('编辑卫视信息','/StationController/stationEdit/?sId='+data.sid);
                }

            });*/

        });
    </script>



</html>