<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyman.mapper.ProgramMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.skyman.entity.InfoProgram">
		<id column="P_ID" property="pId" />
		<result column="P_NAME" property="pName" />
		<result column="P_STATION" property="pStation" />
		<result column="P_TIME" property="pTime" />
		<result column="P_DESC" property="pDesc" />
		<result column="P_CLICKS" property="pClicks" />
		<result column="P_RATING" property="pRating" />

	</resultMap>
	<!--查询app列表-->


	<select id="getAllProgram" parameterType="java.util.Map" resultType="com.skyman.entity.InfoProgram">
		SELECT
			P_ID AS "pid",
			P_NAME AS "pname",
			P_STATION AS "pstation",
			P_TIME AS "ptime",
			P_DESC AS "pdesc",
			P_CLICKS AS "pclicks",
			P_RATING AS "prating"
		FROM
			info_program
	</select>

	<select id="getProByName" parameterType="java.lang.String" resultType="com.skyman.entity.InfoProgram">
		SELECT
			P_ID AS "pid",
			P_NAME AS "pname",
			P_STATION AS "pstation",
			P_TIME AS "ptime",
			P_DESC AS "pdesc",
			P_CLICKS AS "pclicks",
			P_RATING AS "prating"
		FROM
			info_program t
		WHERE
		    t.P_NAME = #{pname}
	</select>


	<select id="getProgramById" parameterType="java.lang.Integer" resultType="com.skyman.entity.InfoProgram">
		SELECT
			P_ID AS "pid",
			P_NAME AS "pname",
			P_STATION AS "pstation",
			P_TIME AS "ptime",
			P_DESC AS "pdesc",
			P_CLICKS AS "pclicks",
			P_RATING AS "prating"
		FROM
			info_program t
		WHERE
		    t.P_ID = #{pId}
	</select>

	<update id="programUpdate" parameterType="java.util.Map">
		update info_program t
		set
			<if test="pname != null">
				t.P_NAME = #{pname},
			</if>
			<if test="pstation != null">
				t.P_STATION = #{pstation},
			</if>
			<if test="ptime != null">
				t.P_TIME = #{ptime},
			</if>
			<if test="pdesc != null">
				t.P_DESC = #{pdesc}
			</if>
		WHERE
			t.P_ID = #{pid}
	</update>

	<delete id="deleteByStation" parameterType="java.lang.String">
		DELETE FROM info_program
		WHERE P_STATION = #{string}
	</delete>

</mapper>
