<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyman.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.skyman.entity.InfoLogin">
		<id column="ID" property="id" />
		<result column="USERNAME" property="username" />
		<result column="PASSWORD" property="password" />
		<result column="ROLE" property="role" />
		<result column="ADDRESS" property="address" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="SEX" property="sex" />

	</resultMap>
	<!--查询app列表-->


	<select id="selectAllUser" parameterType="java.util.Map" resultType="com.skyman.entity.InfoLogin">
		SELECT
			ID AS "id",
			PASSWORD AS "password",
			USERNAME AS "username",
			ROLE AS "role",
			ADDRESS AS "address",
			PHONE AS "phone",
			EMAIL AS "email"
		FROM
			info_login
	</select>

	<select id="getUserByLike" parameterType="java.lang.String" resultType="com.skyman.entity.InfoLogin">
		SELECT
			ID AS "id",
			PASSWORD AS "password",
			USERNAME AS "username",
			ROLE AS "role",
			ADDRESS AS "address",
			PHONE AS "phone",
			EMAIL AS "email"
		FROM
			info_login t
		WHERE 1=1
		<if test="null != param and '' != param">
			AND (t.USERNAME like CONCAT(CONCAT("%",#{param}),"%")
			or t.PHONE like CONCAT(CONCAT("%",#{param}),"%")
		</if>
	</select>

	<select id="getUserByPhone" parameterType="java.lang.String" resultType="com.skyman.entity.InfoLogin">
		SELECT
			ID AS "id",
			PASSWORD AS "password",
			USERNAME AS "username",
			ROLE AS "role",
			ADDRESS AS "address",
			PHONE AS "phone",
			EMAIL AS "email"
		FROM
			info_login t
		where
			t.PHONE = #{phone}
	</select>

	<select id="getUserByUsername" parameterType="java.lang.String" resultType="com.skyman.entity.InfoLogin">
		SELECT
			ID AS "id",
			PASSWORD AS "password",
			USERNAME AS "username",
			ROLE AS "role",
			ADDRESS AS "address",
			PHONE AS "phone",
			EMAIL AS "email"
		FROM
			info_login t
		where
			t.USERNAME = #{username}
	</select>

	<select id="getUserById" parameterType="java.lang.Integer" resultType="com.skyman.entity.InfoLogin">
		SELECT
			ID AS "id",
			PASSWORD AS "password",
			USERNAME AS "username",
			ROLE AS "role",
			ADDRESS AS "address",
			PHONE AS "phone",
			EMAIL AS "email"
		FROM
			info_login t
		where
			t.ID = #{id}
	</select>

	<update id="userUpdate" parameterType="java.util.Map">
		update info_login t
		set
			<if test="username != null">
				t.USERNAME = #{username},
			</if>
			<if test="phone != null">
				t.PHONE = #{phone},
			</if>
			<if test="email != null">
				t.EMAIL = #{email},
			</if>
			<if test="address != null">
				t.ADDRESS = #{address}
			</if>
		WHERE
			t.ID = #{id}
	</update>

</mapper>
